@model IEnumerable<Workers.Domain.Models.Position>

@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAll</h1>

<p>
    <a asp-area="Admin" asp-controller="Position" asp-action="Create">Create New</a>
</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Position", new { id = item.Id, area = "Admin" }) |
                            @Html.ActionLink("Delete", "Delete", "Position", new { id = item.Id, area = "Admin" })
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h2>No positions!</h2>
}
